:root {
  --bg-color: rgb(37, 37, 37);
  --text-color: #dfdfdf;
  --button-hover-bg-color: rgb(60, 60, 60);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Propiedad clave para WebKit */
  margin: 0; /* Elimina el margen si lo hay */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Propiedad clave para Firefox */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 18px;
}

.title {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 36px;
}

.container {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.container__button {
  font-size: 24px;
  border: none;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--text-color);
}
.container__button:hover {
  background-color: rgb(60, 60, 60);
}

.container__input {
  color: var(--text-color);
  font-size: 36px;
  text-align: center;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: rgb(37, 37, 37);
}

.one__input {
  width: 200px;
}
.two__input {
  width: 100px;
}
.start-btn {
  background-color: var(--text-color);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
